.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}



.loginButton:hover {
  cursor: pointer;
}

.instructions {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
  font-size: large;
  font-weight: bold;
} 

.instructionList  {
  line-height:120%;
  text-align: left;
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.logout {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.botEmail {
  border: 1px dashed #cccccc;
  cursor: pointer;
  color: blue;
}

.actionPane {
  margin-top: var(--space-3);
}

.progressRow {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-5);
}

.imageList {
  display: flex;
  flex-direction: column-reverse;
}

.imageListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageContainer {
  margin-right: 2em;
  min-width: 150px;
  text-align: right;
}

.imageToDescribe {
  max-height: 100px;
}

.description {
  vertical-align: top;
}

.progress {
  min-height: 100px;
  max-height: 100px;
  margin: var(--space-5);
}

.error {
  color: red;
}

form {
  overflow: hidden;
}
label {
  float: left;
  text-align: right;
  width: 200px;
  padding-right: 24px;
  margin-bottom: var(--space-2);
  font-size: small;
}
input {
  float: left;
  width: calc(100% - 200px);
  margin-bottom: var(--space-2);
}
button {
  float: right;
  width: calc(100% - 200px);
  margin-bottom: var(--space-2);
  cursor: pointer;
}

